html, body{
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#top-portion{
    /* height: 100%; */
    /* font-size: 2em; */
    display: flex;
    flex-direction: column;

}


#top-wood{

    background-image: linear-gradient(rgba(252, 131, 39, 0.5), rgba(252, 131, 39, 0.5)),url(wood.jpeg);
    padding:0.8em;
    /* From  https://www.pexels.com/photo/abstract-texture-wood-wood-texture-1252947/, no further attribution required*/
    background-size: cover;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.74);
    z-index: 0;
}

#header{
    background-image: linear-gradient(#197fbf, #016191);
    /* Photo by Nextvoyage at https://www.goodfreephotos.com/public-domain-images/mountains-and-fog-landscape.jpg.php (CC0/Public Domain License)*/
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding:6em;
}

#header h1{
    color:white;
    position: relative;
    text-align: center;
    
    text-shadow: 0 0 30px white;
    font-size: 5em;
}
#navbar{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-image: linear-gradient(#2f373c, #616161);
    justify-content: center;
    font-size: 1.25em;
    border-bottom: 5px solid #009cf7;
}   

#navbar li a{
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
    display: block;
    padding: 1em;
    float:left;
    /* font-weight: bold; */
}


#navbar li a:hover{
    color: #009cf7;
}
.content{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

#main-text{
    width: 80%;
    padding: 2em;
}
#about{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
#about p{
    font-size: 1.25em;
}
#about h2{
    font-size: 2.5em;
}
#about img{
    max-width: 20%;
    object-fit: contain;
}

.text-wrapper{
    align-self: flex-end;
}
#history{
    padding: 1em;
}
#history p{
    font-size: 1.25em;
}
#history h2{
    font-size: 2.5em;
}

#offer h2{
    font-size: 2em;
}

#offer p{
    font-size: 1.25em;
}
.sidebox{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #efefef;
    padding: 1em;
    /* width: 20%; */
}

.sidebox ul{
    padding: 0;
    list-style-type: none;
}
.sidebox li{
    padding-bottom: 1em;
    text-align: center;
    /* text-align: center; */
}
.sidebox h3{
    text-align: center;
    color: #4f7e98;
}
.sidebox h2{
    text-align: center;
}