
body{
    /* Body of the page as a whole */
    background-color:#fff2b3;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;

}

pre {
    /* The preamble at the top of the page. */
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    justify-content: center;
}

img {
    /* The cover of the book */
    max-width: 40%;

}

h1{
    /* The title*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}


pre table:nth-child(1){
    /* The link to the illustrated ebook in Frankenstein is in the preamble, so we want to order it like the others. */
    order: 2;
}