
body{
    /* Body of the page as a whole */
    background-image: url(worn_texture.png), linear-gradient(to right, #DDD6A3 0% , #fcf9ed 10% 90%,#DDD6A3); 
    /* Image is a transparent "worn" texture I made for this purpose */
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

pre {
    /* The preamble at the top of the page. */
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.fig {
    /* Images in each book */
    max-width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}


h1{
    /* The title*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    font-size: 3em;
}

h2, h3, h4, h5{
    /* Chapter titles, other various headers */
    font-weight: bold;
    text-align: center;
}

p{
    /* Content of chapter */
    text-indent: 1em;
}

.chapter p:nth-child(3)::first-letter, h4 + p::first-letter{
    /* First letter of the first paragraph of each chapter in Pride and Prejudice and A Christmas Carol.*/

    /* This uses a modified version of the included CSS of Tale of Two Cities, which 
       similarily makes the first letter larger. */
    float: left;
    margin: 0.1em 0.1em 0.1em 0.1em;
    font-size: 4.00em;
    line-height: 0.7;
}

.chapter p:nth-child(3), h4 + p, blockquote > p{
    /* First paragraph of a chapter in both Pride and Prejudice and A Christmas Carol, and also
       the blockquotes inside each book */

    /* Ensures that the first paragraph of a chapter is not indented, such that the first 
       letter being larger does not feel out of place. */
    text-indent: 0;
}
